<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="e:\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.serviceModel>

    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehaviour">
          <webHttp />
          
        </behavior>
      </endpointBehaviors>
    </behaviors>


    <services>
      <service name="MdService.ManagerDetectorService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost/ManagerDetector" behaviorConfiguration="restfulBehaviour" binding="webHttpBinding" bindingConfiguration="" contract="MdService.IManagerDetector" />
        <endpoint address="mex" binding="mexHttpBinding" contract="MdService.IManagerDetector" />
      </service>
    </services>
  </system.serviceModel>
</configuration>