<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LidokDetector.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener"
          type="System.Diagnostics.EventLogTraceListener"
          initializeData="WebApiDiagnostics" />
      </listeners>
    </trace>

  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <LidokDetector.Service.Properties.Settings>
      <setting name="UserAccount" serializeAs="String">
        <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYX4t93MzsEWJyNqhu9jLSgAAAAACAAAAAAADZgAAwAAAABAAAADnJ1a3bFuQnSoc2vQcpHklAAAAAASAAACgAAAAEAAAAOnxGmNGSeEHqjiurJBTGzoQAAAAVAnwxFixpx4sHuy6SHB+ZxQAAAAFTwZs9KvtXzflUQZJciaNKhHf5A==</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value>
          AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYX4t93MzsEWJyNqhu9jLSgAAAAACAAAAAAADZgAAwAAAABAAAADueDZz++U8of+ZpGrp+5OSAAAAAASAAACgAAAAEAAAAPNCki31DiV325eLtylQK9oQAAAAbjtf0RhIPE3DFaYJzoAZDRQAAAD+8iYmm2xWafae8IizYJ6bc+s+EQ==
        </value>
      </setting>
      <setting name="BaseAddress" serializeAs="String">
        <value>http://+:3536</value>
      </setting>
      <setting name="ServiceAccount" serializeAs="String">
        <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYX4t93MzsEWJyNqhu9jLSgAAAAACAAAAAAADZgAAwAAAABAAAAC449c/td2LQUm96+mT5aCsAAAAAASAAACgAAAAEAAAACig+kHimTPJrT0E9U63Od8YAAAAKEVn2feWiHHjgGfeu5ugNfNceyOXqbZeFAAAACyWrAOu8rTl8+IO5F/zVhT2Jt18</value>
      </setting>
      <setting name="ServicePassword" serializeAs="String">
        <value>
          AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYX4t93MzsEWJyNqhu9jLSgAAAAACAAAAAAADZgAAwAAAABAAAADueDZz++U8of+ZpGrp+5OSAAAAAASAAACgAAAAEAAAAPNCki31DiV325eLtylQK9oQAAAAbjtf0RhIPE3DFaYJzoAZDRQAAAD+8iYmm2xWafae8IizYJ6bc+s+EQ==
        </value>
      </setting>
    </LidokDetector.Service.Properties.Settings>
  </userSettings>
</configuration>