<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LidokDetector.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener"
          type="System.Diagnostics.EventLogTraceListener"
          initializeData="WebApiDiagnostics" />
      </listeners>
    </trace>

  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <LidokDetector.Service.Properties.Settings>
      <setting name="UserAccount" serializeAs="String">
        <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYX4t93MzsEWJyNqhu9jLSgAAAAACAAAAAAADZgAAwAAAABAAAADnJ1a3bFuQnSoc2vQcpHklAAAAAASAAACgAAAAEAAAAOnxGmNGSeEHqjiurJBTGzoQAAAAVAnwxFixpx4sHuy6SHB+ZxQAAAAFTwZs9KvtXzflUQZJciaNKhHf5A==</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value>
          AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYX4t93MzsEWJyNqhu9jLSgAAAAACAAAAAAADZgAAwAAAABAAAADueDZz++U8of+ZpGrp+5OSAAAAAASAAACgAAAAEAAAAPNCki31DiV325eLtylQK9oQAAAAbjtf0RhIPE3DFaYJzoAZDRQAAAD+8iYmm2xWafae8IizYJ6bc+s+EQ==
        </value>
      </setting>
      <setting name="BaseAddress" serializeAs="String">
        <value>http://+:3536</value>
      </setting>
      <setting name="ServiceAccount" serializeAs="String">
        <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYX4t93MzsEWJyNqhu9jLSgAAAAACAAAAAAADZgAAwAAAABAAAAC449c/td2LQUm96+mT5aCsAAAAAASAAACgAAAAEAAAACig+kHimTPJrT0E9U63Od8YAAAAKEVn2feWiHHjgGfeu5ugNfNceyOXqbZeFAAAACyWrAOu8rTl8+IO5F/zVhT2Jt18</value>
      </setting>
      <setting name="ServicePassword" serializeAs="String">
        <value>
          AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAYX4t93MzsEWJyNqhu9jLSgAAAAACAAAAAAADZgAAwAAAABAAAADueDZz++U8of+ZpGrp+5OSAAAAAASAAACgAAAAEAAAAPNCki31DiV325eLtylQK9oQAAAAbjtf0RhIPE3DFaYJzoAZDRQAAAD+8iYmm2xWafae8IizYJ6bc+s+EQ==
        </value>
      </setting>
    </LidokDetector.Service.Properties.Settings>
  </userSettings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="TRACE" />
        <foreColor value="White" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p [] - %m%newline" />
      </layout>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [] - %m%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="AuditLogger" />
        <acceptOnMatch value="false" />
      </filter>
      <file value="D:\\Projects\\LidokDetectorService\\Release\\LidokLog.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="20" />
      <param name="RollingStyle" value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%utcdate (UTC) [%t] %-5p %c [] - %m%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="OutputDebugStringAppender" />
    </root>
  </log4net>
</configuration>